.radios {
  position: absolute;
  top: 67px;
  left: 2px;
  text-align: left;
  width: 240px;
  min-height:140px;
  padding: 10px;
  background-color: #fffeee;
  border:solid 1px gray;
  border-radius:6px;
}
.radioItem {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12pt;
  margin-bottom: 12px;
  margin-top:6px;
  padding-left: 4px;
}
.radios h4 {
  position: absolute;
  top: 0px;
  left: 20px;
}
.radioButtons {
  position: absolute;
  top: 30px;
  left: 10px;
}
.radiosTitle {
  position: absolute;
  top: 6px;
  left: 10px;
  font-weight: bold;
  font-size: 13pt;
  color: darkblue;
}

.radioItem label {
  margin-left:14px;
  margin-right: 6px;
}
